In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('tmp_res_rfe.csv')
df.head()

,Unnamed: 0,fulladdress_count_30,address_count_30,address_count_7,fulladdress_count_7,fulladdress_count_3,address_count_3,fulladdress_count_0_by_30,address_count_0_by_30,address_count_0_by_7,...,fulladdress_homephone_count_0_by_30,fulladdress_homephone_count_7,name_dob_count_0_by_14,name_dob_count_7,ssn_firstname_count_0_by_14,ssn_count_0_by_30,ssn_firstname_count_7,homephone_count_7,homephone_count_3,fraud_label
0,0,1,1,1,1,1,1,30.0,30.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
1,1,1,1,1,1,1,1,30.0,30.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,1
2,2,1,1,1,1,1,1,30.0,30.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
3,3,1,1,1,1,1,1,30.0,30.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
4,4,1,1,1,1,1,1,30.0,30.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0

In [3]:
df['fraud_label'].sum()

14393

In [4]:
df.shape

(1000000, 42)

In [5]:
df.drop(df.columns[0],axis=1,inplace=True)
df.head()

,fulladdress_count_30,address_count_30,address_count_7,fulladdress_count_7,fulladdress_count_3,address_count_3,fulladdress_count_0_by_30,address_count_0_by_30,address_count_0_by_7,fulladdress_count_0_by_7,...,fulladdress_homephone_count_0_by_30,fulladdress_homephone_count_7,name_dob_count_0_by_14,name_dob_count_7,ssn_firstname_count_0_by_14,ssn_count_0_by_30,ssn_firstname_count_7,homephone_count_7,homephone_count_3,fraud_label
0,1,1,1,1,1,1,30.0,30.0,7.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
1,1,1,1,1,1,1,30.0,30.0,7.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,1
2,1,1,1,1,1,1,30.0,30.0,7.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
3,1,1,1,1,1,1,30.0,30.0,7.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0
4,1,1,1,1,1,1,30.0,30.0,7.0,7.0,...,30.0,1,14.0,1,14.0,30.0,1,1,1,0

In [6]:
label=df.fraud_label
label.shape

(1000000,)

In [7]:
only_feature = df.drop(columns = ['fraud_label'])
std = only_feature.std()
mean = only_feature.mean()
z_scaled = (only_feature - mean)/std

In [8]:
column = z_scaled.columns
z_scaled.loc[:,column] = z_scaled[column].clip(upper=1000)
z_scaled.loc[:,column] = z_scaled[column].clip(lower=-1000)

In [9]:
z_scaled.describe()

,fulladdress_count_30,address_count_30,address_count_7,fulladdress_count_7,fulladdress_count_3,address_count_3,fulladdress_count_0_by_30,address_count_0_by_30,address_count_0_by_7,fulladdress_count_0_by_7,...,name_dob_count_0_by_30,fulladdress_homephone_count_0_by_30,fulladdress_homephone_count_7,name_dob_count_0_by_14,name_dob_count_7,ssn_firstname_count_0_by_14,ssn_count_0_by_30,ssn_firstname_count_7,homephone_count_7,homephone_count_3
count,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,...,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06,1.000000e+06
mean,-1.450928e-17,2.743761e-17,-9.711698e-17,6.349055e-17,-6.116530e-17,-2.246736e-17,-9.747404e-15,-1.910385e-14,1.925761e-14,-3.837181e-14,...,-2.320769e-14,-1.270186e-14,1.311378e-16,1.308299e-14,2.176002e-16,1.647664e-14,-1.495019e-14,-1.305409e-16,6.433964e-17,1.309175e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.019577e-01,-1.177060e-01,-7.263335e-02,-6.709449e-02,-5.793242e-02,-6.081900e-02,-9.955826e+00,-8.763360e+00,-1.463470e+01,-1.616519e+01,...,-1.108366e+01,-1.090859e+01,-5.726292e-02,-1.484047e+01,-5.580132e-02,-1.431849e+01,-1.047394e+01,-5.718523e-02,-7.692136e-01,-5.214539e-01
25%,-1.019577e-01,-1.177060e-01,-7.263335e-02,-6.709449e-02,-5.793242e-02,-6.081900e-02,1.797736e-01,1.999398e-01,1.147648e-01,1.023122e-01,...,1.633033e-01,1.663921e-01,-5.726292e-02,1.183156e-01,-5.580132e-02,1.235282e-01,1.729097e-01,-5.718523e-02,-7.692136e-01,-5.214539e-01
50%,-1.019577e-01,-1.177060e-01,-7.263335e-02,-6.709449e-02,-5.793242e-02,-6.081900e-02,1.797736e-01,1.999398e-01,1.147648e-01,1.023122e-01,...,1.633033e-01,1.663921e-01,-5.726292e-02,1.183156e-01,-5.580132e-02,1.235282e-01,1.729097e-01,-5.718523e-02,5.513225e-02,-5.214539e-01
75%,-1.019577e-01,-1.177060e-01,-7.263335e-02,-6.709449e-02,-5.793242e-02,-6.081900e-02,1.797736e-01,1.999398e-01,1.147648e-01,1.023122e-01,...,1.633033e-01,1.663921e-01,-5.726292e-02,1.183156e-01,-5.580132e-02,1.235282e-01,1.729097e-01,-5.718523e-02,5.513225e-02,6.391483e-01
max,4.565154e+01,4.354903e+01,4.943653e+01,4.982752e+01,5.340396e+01,5.321827e+01,1.797736e-01,1.999398e-01,1.147648e-01,1.023122e-01,...,1.633033e-01,1.663921e-01,6.311559e+01,1.183156e-01,7.307250e+01,1.235282e-01,1.729097e-01,7.296501e+01,2.560985e+01,3.545722e+01

In [10]:
z_scaled.head()

,fulladdress_count_30,address_count_30,address_count_7,fulladdress_count_7,fulladdress_count_3,address_count_3,fulladdress_count_0_by_30,address_count_0_by_30,address_count_0_by_7,fulladdress_count_0_by_7,...,name_dob_count_0_by_30,fulladdress_homephone_count_0_by_30,fulladdress_homephone_count_7,name_dob_count_0_by_14,name_dob_count_7,ssn_firstname_count_0_by_14,ssn_count_0_by_30,ssn_firstname_count_7,homephone_count_7,homephone_count_3
0,-0.101958,-0.117706,-0.072633,-0.067094,-0.057932,-0.060819,0.179774,0.19994,0.114765,0.102312,...,0.163303,0.166392,-0.057263,0.118316,-0.055801,0.123528,0.17291,-0.057185,-0.769214,-0.521454
1,-0.101958,-0.117706,-0.072633,-0.067094,-0.057932,-0.060819,0.179774,0.19994,0.114765,0.102312,...,0.163303,0.166392,-0.057263,0.118316,-0.055801,0.123528,0.17291,-0.057185,-0.769214,-0.521454
2,-0.101958,-0.117706,-0.072633,-0.067094,-0.057932,-0.060819,0.179774,0.19994,0.114765,0.102312,...,0.163303,0.166392,-0.057263,0.118316,-0.055801,0.123528,0.17291,-0.057185,-0.769214,-0.521454
3,-0.101958,-0.117706,-0.072633,-0.067094,-0.057932,-0.060819,0.179774,0.19994,0.114765,0.102312,...,0.163303,0.166392,-0.057263,0.118316,-0.055801,0.123528,0.17291,-0.057185,-0.769214,-0.521454
4,-0.101958,-0.117706,-0.072633,-0.067094,-0.057932,-0.060819,0.179774,0.19994,0.114765,0.102312,...,0.163303,0.166392,-0.057263,0.118316,-0.055801,0.123528,0.17291,-0.057185,-0.769214,-0.521454

In [11]:
z_copy=z_scaled.copy()
z_copy['fraud_label']=label
z_copy.to_csv('D://cis//Stephen Coggeshall//z_scaled.csv',index=True,header=True)